@font-face {
  font-family: 'GoogleSans';
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/product') format('ttf'),
    url('/fonts/product') format('ttf');
}

@font-face {
  font-family: 'ProductSans';
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Product-Sans-Bold') format('ttf'),
    url('/fonts/Product-Sans-Bold') format('ttf');
}

@font-face {
  font-family: 'ProductSans';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('/fonts/Product-Sans-Italic') format('ttf'),
    url('/fonts/Product-Sans-Italic') format('ttf');
}
@font-face {
  font-family: 'ProductSans';
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url('/fonts/Product-Sans-Italic') format('ttf'),
    url('/fonts/Product-Sans-Italic') format('ttf');
}


@font-face {
  font-family: 'ProductSans';
  font-display: swap;
  src: url('/fonts/product') format('ttf'),
      

}

@font-face {
  font-family: 'ProductSans';
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Product-Sans-Bold') format('ttf'),
      
}

@font-face {
  font-family: 'ProductSans';
  font-style: italic;
  font-display: swap;
  src: url('/fonts/Product-Sans-Italic') format('ttf'),
    
}
